<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true">
    <define name="SDK" class="io.harness.cf.client.logger.LoggingPropertiesDefiner">
        <propertyLookupKey>SDK</propertyLookupKey>
    </define>

    <define name="version" class="io.harness.cf.client.logger.LoggingPropertiesDefiner">
        <propertyLookupKey>version</propertyLookupKey>
    </define>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M\(%line\) - SDK=${SDK}, Version=${version}, flag=%X{flag}, target=%X{target}, requestID=%X{requestId} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>